[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
seaborn = "*"
blackcellmagic = "*"

[packages]
category-encoders = "*"
jupyter = "*"
blackcellmagic = "*"
astor = "*"
seaborn = "*"
requests = "*"
pytest = "*"
nest-asyncio = "*"
bs4 = "*"
pytest-cov = "*"
matplotlib = "==3.0.3"
black = "*"
codecov = "*"
missingno = "*"
typed-ast = "*"
hypothesis = "*"
jsons = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
