[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
black = "==19.3b0"
seaborn = "*"
matplotlib = "*"
pandas-profiling = "*"
blackcellmagic = "*"

[packages]
category-encoders = "*"
jupyter = "*"
blackcellmagic = "*"
black = "*"
astor = "*"
seaborn = "*"
line-profiler = "*"
requests = "*"
pytest = "*"
nest-asyncio = "*"
bs4 = "*"
hypothesis = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
